# Node
node_modules/
dist/
*.js
*.d.ts
build

# CDK
.cdk.staging
cdk.out

# Environment
.env
.env.local
.env.*.local

# Local AWS emulator jars and data
.localstack/
tmp/
dynamodb-local-metadata.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage
.nyc_output

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
